/* Set height to 100% for body and html to enable the background image to cover the whole page: */

  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .f{margin-top:50px;}
  .ch{ 
    width:75%;
    background-color:#375a7f;
    margin-bottom: 5px;
  }
.n{ border-left: 2px solid purple; border-right:2px solid purple;}
.box{margin-bottom: 100px;}
.one{border:10px solid pink;}
